.main-form {
	width: 600px;
	margin: 0 auto;
	margin-top: 40px;
	resize: vertical;
	outline: none;
	border-width: 2px;
	border-radius: 2px;
	font-size: 18px;
}

h1 {
	text-align: center;
}

input {
	border: none;
	cursor: pointer;
	border-bottom: 1px solid rgba(138, 138, 138, 0.3);
	width: 100%;
	line-height: 1.65;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #222;
	font-weight: 300;
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
}

input:hover {
	border-color: rgba(0, 0, 0, 0.4);
	transition: all 0.5s ease-in-out;
}

input:focus {
	outline: none;
	border-color: #000;
}

.red {
	color: red;
	border-color: red;
}

.popup {
	position: fixed;
	width: 320px;
	top: 0;
	right: 0;
	background-color: white;
	z-index: 10000;
	filter: drop-shadow(0 0 0.4rem black);
	opacity: 0;
}

.popupCloseBtn {
	width: 20px;
	height: 20px;
	margin: 4px 4px 0 300px;
	text-align: right;
}

.popup-close-btn {
	cursor: pointer;
	width: 10px;
	height: 10px;
	background-color: black;
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
	);
}

.popup-close-btn:hover {
	background-color: red;
	transition: all 0.4s ease-in-out;
}

.popup.show {
	opacity: 1;
}

.button-modal {
	display: flex;
	cursor: pointer;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	border: 1px black solid;
	border-radius: 30px;
	padding: 8px 20px;
	background-color: #fff;
	font-size: 18px;
}

.button-modal:hover {
	border-color: red;
	color: red;
	transition: all 0.5s ease-in-out;
}
